# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# MacOS files
.DS_Store
*.swp

# Build files
lex.yy.c
y.tab.c
y.tab.h
y.output
etapa1/etapa1
etapa2/etapa2
etapa3/etapa3
etapa4/etapa4
etapa5/etapa5
etapa6/etapa6
etapa7/etapa7

# Log files
*.log
